body {
  background-color: #276266;
}
.App {
  text-align: center;
  width: 1200px;
  margin: 20px auto;
}

label {
  margin: 5px 5px;
  font-size: 20px;
  padding: 10px;
}

.formNew {
  float: left;
  display: block;
  width: 500px;
  border: 1px solid rgb(0, 8, 3);
  margin: 2px;
  background-color: rgb(187, 191, 218);
}

.form-control {
  width: 200px;
  height: 30px;
  margin: 20px 20px;
  background-color: rgb(149, 179, 180);
}
.btnInput {
  width: 200px;
  background-color: rgb(148, 176, 177);
  font-size: 20px;
}
.post {
  float: left;
  display: block;
  width: 500px;
  border: 1px solid #2e5f72;
  margin: 2px;
  padding: 20px;
  background-color: rgb(187, 191, 218);
}
